.favorites{
    background-color: #ff1f1f3f;
   min-width: 100%;
    color:white;
    border-radius: 8px;
    padding:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.seePokemons__button{
  height:fit-content;
  margin:none;
  padding:8px;
  border:none;
  width:fit-content;
  border-radius:8px;
  background:#CC0000;
  color:white;
  cursor: pointer;
}

@media screen and (max-width:768px) {
    .favorites{
    
     
      height: fit-content;
      justify-content: center;
      text-align: center;
     
    }
  }